
RewriteEngine on
Redirect 301 /visatext/6 http://swedishpixels.com/2001/01/babelfisks-guide-till-erogena-zoner

Redirect 301 /blogg/ http://swedishpixels.com/

Redirect 301 /masterfeed/ http://swedishpixels.com/masterfeed.xml
RewriteCond %{HTTP_HOST} ^hertze.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.hertze.com$
RewriteRule ^makeup\/tumblr$ "http\:\/\/annahertze\.tumblr\.com" [R=301,L]

