* { 
	padding: 0; 
	margin: 0; 
}

body {
	font: 130% Helvetica;
}

p { 
	color: #000; 
	font-size: 1em; 
	line-height: 1.5em; 
	margin-bottom: 22px; 
	-webkit-font-smoothing: antialiased; 
}

h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0.5em 0;
	font-weight: bold;
}

a { 
	color: #ff9131; 
	font-weight: bold; 
	text-decoration: none; 
	border-bottom: 1px solid rgba(255,255,255,0.3); 
}

a:hover { 
	color: #ffd285; 
	border-bottom: 1px solid rgba(255,255,255,1);
}

#social img {
	margin-right: 10px;
}

#social a { opacity: 0.5;}

#social a:hover { opacity: 1;}

#about { 
	width: 21em;  
	margin: 10% auto 0 12% !important;
}

#attribution { 
	width: 25em;  
	margin: 4em auto 0 12% !important;
	font-size: 0.8em;
	opacity: 0.3;
	position: absolute;
	bottom: 1em;
}
.typekit-badge {
	display:none !important;
}