/* @override http://localhost:4000/style.css */

/* -----------------------------------------------------------
	Grundläggande inställningar
----------------------------------------------------------- */

* { 
	padding: 0; 
	margin: 0; 
}

body {
	font: 110% Helvetica;
	font-weight: 300;
	background-color: #b3ada2;
	color: #58544f;

}


/* -----------------------------------------------------------
	Layout
----------------------------------------------------------- */

html {
	border-top: 5px solid #c4570d;
}

body {
	width: 44em;
	margin: 0 auto;
}

nav {
	position: fixed;
	top: 11.4em;
	width: 22em;
	text-align: right;
	margin-left: -10em;
}

article {
	width: 30em;
	margin-left: 12em;
	margin-top: 6em;
}

footer {
	width: 30em;
	margin-left: 12em;
	margin-top: 3em;
}

/* -----------------------------------------------------------
	Typografi
----------------------------------------------------------- */

nav {
	font-size: 0.8em;
	line-height: 1.875em;
	font-weight: bold;
}

nav img {
	border-radius: 3px;
	width: 5em;
	height: 5em;
	border: 5px solid #a69f96;
	margin: 0 -5px 10px 15px;
	float: right;
}

nav ul {
	list-style-type: none;
	margin-bottom: 1.875em;
}

p { 
	font-size: 1em; 
	line-height: 1.5em; 
	margin-bottom: 1.5em; 
	-webkit-font-smoothing: antialiased; 
}

nav p {
	line-height: 1.875em;
}

article h1 {
	font-size: 1.5em;
	line-height: 0.933em;
	margin: 0.933em 0;
	font-weight: 300;
}

article h2 {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0.75em 0;
	font-weight: 300;
}

article li h3 {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: bold;
}

footer p {
	font-size: 0.8em;
	line-height: 1.875em;
}

article li {
	font-size: 0.8em;
	line-height: 1.875em;
	padding: 0.625em;
	margin: 0.625em 0;
	list-style: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(0,0,0,0.05); 
}

article li p {
	margin: 0;
}

a { 
	color: #b24f0c; 
	font-weight: bold; 
	text-decoration: none; 
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

a:hover { 
	color: #5f5c56; 
}

nav a {
	color: #58544f;
}

nav a:hover {
	color: #7e7971;
}

.fokus {
	border-left: 5px solid rgba(196,87,13,0.6);
	padding-left: 8px;
}


.typekit-badge {
	display:none !important;
}


/* -----------------------------------------------------------
	Github Gist
----------------------------------------------------------- */

.gist{
  margin: 2.14em 0 !important;
  font-size: 0.7em;
}

.gist-file{
  border: none !important;
}

.gist-meta{
  border: 1px solid #D2d2d2 !important;
  padding: 12px !important;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.gist-data{
  padding: 15px !important;
  border: 1px solid #D2d2d2 !important;
  border-bottom: none !important;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  height: 30em !important;
}