/* @override http://localhost:4000/style.css */

/* -----------------------------------------------------------
	Grundläggande inställningar
----------------------------------------------------------- */

* { 
	padding: 0; 
	margin: 0; 
}

body {
	font: 110% Helvetica;
	font-weight: 300;
	background-color: #b2aba0;
	color: #58544f;

}


/* -----------------------------------------------------------
	Layout
----------------------------------------------------------- */

html {
	border-top: 5px solid #c4570d;
}

body {
	width: 42em;
	margin: 0 auto;
}

nav {
	position: fixed;
	top: 11.3em;
	width: 12.5em;
	text-align: right;
}

header {
	position: fixed;
	top: 15.05em;
	width: 17em;
	text-align: right;
	margin-left: -7em;
}

article {
	width: 30em;
	margin-left: 12em;
	margin-top: 6em;
}

footer {
	width: 30em;
	margin-left: 12em;
	margin-top: 3em;
}

/* -----------------------------------------------------------
	Typografi
----------------------------------------------------------- */

header img {
	border-radius: 3px;
	width: 4em;
	height: 4em;
	border: 5px solid #a69f96;
	margin: 0 -5px 10px 15px;
	float: right;
}

nav ul {
	list-style-type: none;
}

p { 
	font-size: 1em; 
	line-height: 1.5em; 
	margin-bottom: 1.5em; 
	-webkit-font-smoothing: antialiased; 
}

header p {
	font-size: 0.8em;
	line-height: 1.875em;
	font-weight: bold;
}

article h1 {
	font-size: 1.5em;
	line-height: 0.933em;
	margin: 0.933em 0;
	font-weight: 300;
}

header h1 {
	font-size: 1.5em;
	line-height: 2em;
	font-weight: 300;
	margin-top: 1.5em;
}

nav {
	font-size: 0.8em;
	line-height: 1.875em;
	font-weight: bold;
}

footer p {
	font-size: 0.8em;
	line-height: 1.875em;
}

a { 
	color: #b24f0c; 
	font-weight: bold; 
	text-decoration: none; 
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

a:hover { 
	color: #5f5c56; 
}

nav a {
	color: #58544f;
}

nav a:hover {
	color: #7e7971;
}

.fokus {
	border-left: 5px solid rgba(196,87,13,0.6);
	padding-left: 8px;
}

#social img {
	margin-right: 10px;
}

#social a { 
	opacity: 0.5;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

#social a:hover { opacity: 1;}

#about { 
	width: 21em;  
	margin: 10% auto 0 12% !important;
}

#attribution { 
	width: 25em;  
	margin: 4em auto 0 12% !important;
	font-size: 0.8em;
	opacity: 0.3;
	position: absolute;
	bottom: 1em;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

#attribution:hover {opacity: 1;}

.typekit-badge {
	display:none !important;
}